      
        <div class="container-fluid" ng-controller="SbaController">
          <div class="row" id="master-row">
            <div id="leftpanel" class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                <h1 class="page-header">City Title</h1>
                <div class="form-group">
                <div>
                    <angucomplete id="location"
						 placeholder="Type place of interest" pause="300"
						 selectedobject="selectedLocation"
						 url="http://api.censusreporter.org/1.0/geo/search?q="
						 datafield="results"
						 titlefield="full_name"
						 minlength="3"
						 inputclass="form-control"/>
					</div>
          <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="address for address in lookupLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

        </div>
                <div class="btn-group-justified" id="main-filter-bar">
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Dropdown link</a></li>
      <li><a href="#">Dropdown link</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Dropdown link</a></li>
      <li><a href="#">Dropdown link</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Dropdown link</a></li>
      <li><a href="#">Dropdown link</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Dropdown link</a></li>
      <li><a href="#">Dropdown link</a></li>
    </ul>
  </div>
</div>
					<leaflet center="mapCenter"
						width="640"
						height="480"
						geoJSON="geoJson" />
                </div>
                
              </div>  
            </div>
            <div id="rightsidebar" class="col-md-4 col-m-height">
              <div class="row">
                <div class="right-sidebar-1">
                  <h1 class="h1">Sex and Age</h1>
		      <div ng-repeat="dataPoint in demographics.ageRanges"
					   ng-style="{ 'width' : ( 100 * dataPoint.total / demographics.max + '%' ), 
								   'border' : '1px dotted black', 
								   'background' : 'linear-gradient(to right, pink ' + 100 * dataPoint.female / dataPoint.total + '%, lightblue ' + 100 * dataPoint.female / dataPoint.total + '%)'}">
					  {{ dataPoint.name }}: {{ dataPoint.total }}
		      </div>
                </div>
                <div class="right-sidebar-2">
                   <h1 class="h1">Race</h1>
                </div>
                <div class="right-sidebar-3">
                   <h1 class="h1">Relationship</h1>
                </div>
                <div class="right-sidebar-4">
                   <h1 class="h1">Housing</h1>
                </div>

              </div>
            </div>
          </div>
        </div>   

        

        

