<head>
<title>Leaflet</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name = "viewport" content = "user-scalable=no, width=device-width" charset="UTF-8">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
<!--file created on 9/2/14 to store styles that were written directly into HTML file-->
<link rel="stylesheet" type="text/css" href="/stylesheets/separate_style_original.css"> 
<!-- <link rel="stylesheet" type="text/css" href="container.css"> -->
</head>
<body>

  <div id ='whole-page'> 
      <div class="content-container">
        <div id='top-controls'>
          <input id="location" class="form-control" placeholder="Type place of interest">
          <select id="filters" class="form-control">
            <option class="form-control" value="B09001_001E">Children</option>
            <option value="B19326_002E">Median income in the past 12 months</option>
            <option value="B05006_158E">Born in Northern America</option>
            <option value="B05006_146E">Born in South America</option>
            <option value="B05006_099E">Born in Northern Africa</option>
            <option value="B05006_021E">Born in Southern Europe</option>
            <option value="B05006_001E">Place of birth for foreign-born population in US-Total</option>
            <option value="B19301_001E">Income per capita</option>
            <option value="B14007H_018E">Enrolled in Graduate School</option>
            <option value="B14007H_017E">Enrolled in College</option>
            <option value="B06002_001E">Median age by place of birth in US</option>
          </select>
          <select id="business">
           <option value="gb6y-34cq">Active Food Establishment Licenses</option>
           <option value="e29s-ympv">Boston Public Schools</option>
          </select>
          <div class="button_group"><button class="btn">Button</button>
          <button class="btn">Button</button>
          <button class="btn">Button</button>
          </div>

        </div>
          <div id="map"></div>
          <div id="sidebar">
          <h3>Interesting pie charts will go here. Mmm...pie.</h3>
          <h3>Population</h3>
          <h3>Money</h3>
      </div>
      </div>
      
  </div>
  
<script type='text/javascript'>
var select_filter = '';
var map = new L.Map('map').setView([42.3334, -71.0270], 13);
map.on('moveend', function() {
  var map_center = map.getCenter();
  var data_id = $('#business').val();
  $.ajax({
    url: 'http://data.cityofboston.gov/resource/' + data_id + '.json',
    data: {
      '$where': 'within_circle(location,' + map_center.lat + ',' + map_center.lng + ',2000)'
    },
    dataType: 'json',
    success: function(data) {
      for (var i = 0; i < data.length; i++) {
        var location = [data[i].location.latitude, data[i].location.longitude];
        var popup = '';
        // debugger;
        for (var k in data[i]) {
          if (data[i].hasOwnProperty(k)) {
            popup += k + ': ' + data[i][k] + '<br/>';
          }
        }
        var marker = L.marker(location).addTo(map).bindPopup(popup);
      }
    }
  });
});
var mapQuest = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
  attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
  subdomains: '1234'
}).addTo(map);
// var map = new L.Map('map', {center: new L.LatLng(51.51, -0.11), zoom: 9});
/*
var map = new L.Map('map', {center: new L.LatLng(42.3334, -71.0270), zoom: 9});
var googleLayer = new L.Google('ROADMAP');
map.addLayer(googleLayer);
*/
$.getJSON('geodata/tracts2010.json', function(data) {
  var onEachFeature = function(feature, layer) {
    var defaultStyle = {
      color: "#2262CC",
      weight: 2,
      opacity: 0.6,
      fillOpacity: 0.1,
      fillColor: "#2262CC"
    };
    var highlightStyle = {
      color: '#2262CC', 
      weight: 3,
      opacity: 0.6,
      fillOpacity: 0.65,
      fillColor: '#2262CC'
    };
    // console.log('onEachFeature');
    (function(layer, properties) {
      // console.log('properties', properties);
      // Create a mouseover event
      layer.on("mouseover", function (e) {
        // debugger;
        var tract_id = e.target.feature.id;
        // Change the style to the highlighted version
        layer.setStyle(highlightStyle);
        // Create a popup with a unique ID linked to this record
        var popup = $("<div></div>", {
            id: "popup-" + tract_id,
            css: {
                position: "absolute",
                bottom: "85px",
                left: "50px",
                zIndex: 1002,
                backgroundColor: "white",
                padding: "8px",
                border: "1px solid #ccc"
            }
        });
        // Insert a headline into that popup
        var hed = $("<div></div>", {
            text: "Tract ID: " + tract_id + ' ' + $("#filters option:selected").text() + ' ' + census_data[tract_id],
            css: {fontSize: "16px", marginBottom: "3px"}
        }).appendTo(popup);
        // Add the popup to the map
        popup.appendTo("#map");
      });
      // Create a mouseout event that undoes the mouseover changes
      layer.on("mouseout", function (e) {
        var tract_id = e.target.feature.id;
        // Start by reverting the style back
        layer.setStyle(defaultStyle); 
        // And then destroying the popup
        $("#popup-" + tract_id).remove();
      });
      // Close the "anonymous" wrapper function, and call it while passing
      // in the variables necessary to make the events work the way we want.
    })(layer, feature.properties);
  };
  // console.log(data);
  var tracts2010 = L.geoJson(topojson.feature(data, data.objects.tracts2010), {
    onEachFeature: onEachFeature
  });
  // L.control.layers(data).addTo(map);
  
  var baseLayers = {
    "Map Quest": mapQuest
  };
  
  var overlays = {
      "2010 Tracts": tracts2010
  };
  
  L.control.layers(baseLayers, overlays).addTo(map);
  // L.GeoJSON(
});
var census_data = {};
$('#filters').on('change', function(e) {
  // debugger;
  var census_var = this.value;
  // console.log(this.value);
  $.ajax({
    url: 'http://api.census.gov/data/2012/acs5',
    data: {
      'for': 'tract:*',
      'in': 'state:25+county:*',
      'key': '2b4b319d9a6ffbcfa81e15e94da52aa46bd901ec',
      'get': this.value
    },
    dataType: 'json',
    success: function(data) {
      // debugger;
      // shift away the header
      data.shift();
      for (var i = 0; i < data.length; i++) {
        var tract_id = '' + data[i][1] + data[i][2] + data[i][3];
        // console.log('tract_id', tract_id);
        census_data[tract_id] = data[i][0];
      }
    }
  });
});
$('#business').on('change', function(e) {
  // debugger;
  var data_var = this.value;
  $.ajax({
    url: 'http://data.cityofboston.gov/resource/'
  })
})
$('#location').on('keyup', function(e) {
  if(e.which === 13){
    $.ajax({
    url: 'http://www.mapquestapi.com/geocoding/v1/address',
    data: 'key=Fmjtd%7Cluur2g62nq%2C8x%3Do5-9a85q4&location=' + $('#location').val(),
    dataType: 'json',
    success: function(data) {
      // debugger;
      var location = data.results[0].locations[0].latLng;
      map.setView([location.lat, location.lng]);
      // shift away the header
    }
  });
  }
});
</script>
</body>
