      
        <div class="container">
          <div class="row" id="master-row">
            <div id="leftpanel" class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <input id="location" class="form-control" placeholder="Type place of interest">
                  <div id="map" class="col-md-12"></div>
                </div>
                
              </div>  
            </div>
            <div id="rightsidebar" class="col-md-4 col-m-height">
              <div class="row">
                <h3>Interesting pie charts will go here. Mmm...pie.</h3>
                <h3>Population</h3>
                <h3>Money</h3>
                <h3>Interesting pie charts will go here. Mmm...pie.</h3>
                <h3>Population</h3>
                <h3>Money</h3>
                <h3>Interesting pie charts will go here. Mmm...pie.</h3>
                <h3>Population</h3>
                <h3>Money</h3>
              </div>
            </div> 

            
          </div>
        </div>   

        

        

