doctype html
html(lang='en' ng-app="sbaApp")
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title= title
		link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css')
		script(src='/javascripts/jquery-2.1.1.min.js')
		script(src="//code.jquery.com/ui/1.11.1/jquery-ui.js")
		script(src='http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js')
		script(src='http://d3js.org/topojson.v1.min.js')
		script(src='http://d3js.org/d3.v3.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js')
		script(src='/javascripts/angular-leaflet-directive.min.js')
		script(src='/javascripts/angucomplete.js')
		script(src='/javascripts/angular-cache.js')
		script(src='/javascripts/sbaApp.js')
		script(src='/javascripts/census/ageAggregator.js')
		script(src='/javascripts/census/demographics.js')
		script(src='/javascripts/bootstrap.min.js')
	body
		block content

 
  
  
