input(type="text" ng-model="yourName" placeholder="Enter a name here")
h1.{{yourName}}
select#age_range_min
	option 5
	option 10
	option 15
	option 20
	option 25
	option 30
	option 35
	option 40
	option 45
	option 50
	option 55
	option 60
	option 65
	option 70
	option 75
	option 80
	option 85
| -
select#age_range_max
	option 5
	option 10
	option 15
	option 20
	option 25
	option 30
	option 35
	option 40
	option 45
	option 50
	option 55
	option 60
	option 65
	option 70
	option 75
	option 80
	option 85
